.users {
    margin-bottom: 100px;
    padding: 16px;
    .users_image {
        width: 100%;
        margin-bottom: 70px;
    }
    .users_details {
        .title {
            text-align: center;
            font-family: "Poppins-Bold";
            font-size: 26px;
            font-weight: bold;
            line-height: 32px;
            color: hsl(192, 100%, 9%);
            margin-bottom: 25px;
        }
        .text {
            text-align: center;
            font-family: "OpenSans-Regular";
            font-size: 15px;
            font-weight: normal;
            line-height: 22px;
            color: hsl(192, 100%, 9%);
        }
    }
}

@media(min-width: 720px) {
    .users {
        max-width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        padding: 0;
        .users_image {
            max-width: 460px;
            margin-left: auto;
            margin-bottom: 0;
        }
        .users_details {
            max-width: 490px;
            margin-right: auto;
            .title {
                text-align: left;
            }
            .text {
                text-align: left;
            }
        }
    }
}

@media(min-width: 1440px) {
    .users {
        max-width: 80%;
        margin: auto;
        margin-bottom: 100px;
        padding: 0;
    }
}